.poke-logo {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form {
  margin: 25px auto;
  width: 210px;
}

.form .search-box {
  border: 0.5px solid #000000;
  font-size: 18px;
  display: inline-block;
  text-align: center;
}

.hero-image {
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../../assets/images/hero-image.png");

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 75px;
}


.hero-image .bottom-text{
  font-size: 20px;
  text-align: center;
  color: #ffffff;

}