.title {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0.5px solid #000000;
  background-color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}

.poketable {
  border: 3px solid #323232;
  width: 60%;
  border-spacing: 0px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 5px 10px 8px #000008;
  margin-top: 40px;
}

.row-image {
  border: 0.5px solid #000000;
  width: 15%;
  border-spacing: 0px;
  background-color: #ffffff;
}

.row-name {
  border: 0.5px solid #000000;
  width: 90%;
  border-spacing: 0px;
  font-size: 22px;
  text-align: left;
  background-color: #dadada;
}
