<div class="flex-grid" *ngIf="pokedetails">
        <div class="col1">
                <div class="poke-title">{{pokedetails.name | titlecase }}</div>
                <div class="images">
                        <img src="{{pokedetails.sprites.front_default}}" alt="Pokemon Image" class="poke-image">
                        <hr />
                        <!-- <div class="all-images"> -->
                                <img src="{{pokedetails.sprites.front_default}}" alt="Pokemon Image"class="small-image">
                                <img src="{{pokedetails.sprites.back_default}}" alt="Pokemon Image" class="small-image">
                                <img src="{{pokedetails.sprites.front_shiny}}" alt="Pokemon Image" class="small-image">
                                <img src="{{pokedetails.sprites.back_shiny}}" alt="Pokemon Image" class="small-image">

                        <!-- </div> -->
                        <hr />
                        <div class="description">
                                <p>{{description}}</p>
                        </div>
                </div>

        </div>

        <div class="col2">
                <h2>Stats</h2>
                <p>Attack: {{pokedetails.stats[4].base_stat }}</p>
                <p>Defence: {{pokedetails.stats[3].base_stat }}</p>
                <p>Speed: {{pokedetails.stats[0].base_stat }}</p>
                <p>HP: {{pokedetails.stats[5].base_stat }}</p>
                <p>Special Attack: {{pokedetails.stats[4].base_stat }}</p>
                <p>Special Defence: {{pokedetails.stats[3].base_stat }}</p>
                <p>Speed: {{pokedetails.stats[0].base_stat }}</p>
                <p>HP: {{pokedetails.stats[5].base_stat }}</p>
                <a *ngFor="let type of pokedetails.types">
                        <label
                                class="type-list__item type-list__item--{{type.type.name}}">{{type.type.name | titlecase}}</label>
                </a>

        </div>
        <div class="col2">
                <h2>Description</h2>


        </div>
        <div class="col2">
                <h2>Moves</h2>
                <div class="moves-box">

                </div>
        </div>
</div>