<div class="flex-container">

      <form [formGroup]="filterForm" (ngSubmit)="addPost(rForm.value)">

          <!-- <input class="search-box" (keyup)="onFilter($event)" placeholder="Search" align="middle"> -->

          <input class="search-box" formControlName="nameFilter" placeholder="Search" align="middle">

            <!-- <input type="checkbox" name="Bug" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Dragon" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Ice" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Fighting" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Fire" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Flying" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Grass" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Ghost" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Ground" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Electric" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Normal" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Poison" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Psychic" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Rock" formControlName="typeFilter" value="1">
            <input type="checkbox" name="Water" formControlName="typeFilter" value="1">
             -->
          </form>


    <div class="form">
  
    </div>

  <div style="flex-grow: 9">
    <div class="grid grid-pad">
      <div class="col">
        <a *ngFor="let pokemon of pokeRender" class="col-1-4" routerLink="/details/{{pokemon.id}}">
          <div class="module hero">
            <img src="{{pokemon.sprites.front_default}}" alt="Pokemon Image" class="row-image">
            <h4>{{pokemon.name  | titlecase}}</h4>
            <div class="type-list">
              <a *ngFor="let type of pokemon.types">
                <!-- {{pokemon.types[i].type.name}} -->
                <label class="type-list__item type-list__item--{{type.type.name}}">{{type.type.name}}</label>
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>