<form [formGroup]="filterForm" (ngSubmit)="addPost(rForm.value)" class="form">


    <input class="search-box" formControlName="nameFilter" placeholder="Search" align="middle">

  </form>

<div class="flex-container">

  <div style="flex-grow: 9">
    <div class="grid grid-pad">
      <div class="col">
        <a *ngFor="let pokemon of pokeRender" class="col-1-4" routerLink="/details/{{pokemon.id}}">
          <div class="module hero">
            <h4>{{pokemon.name  | titlecase}}</h4>
            <img src="{{pokemon.sprites.front_default}}" alt="Pokemon Image" class="row-image">
            <div class="type-list">
                <a *ngFor="let type of pokemon.types">
                  <!-- {{pokemon.types[i].type.name}} -->
                  <label class="type-list__item type-list__item--{{type.type.name}}">{{type.type.name}}</label>
                </a>
              </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>