.title {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0.5px solid #000000;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}

.row-image {
  width: 45%;
  border-spacing: 0px;
  text-align: center;
}

.row-name {
  border: 0.5px solid #000000;
  width: 90%;
  border-spacing: 0px;
  font-size: 14px;
  text-align: center;
  background-color: #dadada;
}

.form {
  padding-top: 10px;
  margin: 25px auto;
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
  outline-width: 0;
}

.form .search-box {
  border: 0px solid #000000;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 25px;
  outline-width: 0;
  padding: 5px 10px 5px 10px;
}

.form .button {
  margin-top: 15px;
  font-size: 18px;
}

[class*="col-"] {
  float: left;
}
[class*="col-"]:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align-last: center;
}

h3 {
  text-align: center;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  position: relative;
  margin: 0px;
  font-size: 18px;
  // margin-bottom: 20px;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 20%;
  min-width: 120px;
  max-width: 20%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #ffffff;
  max-height: 175px;
  min-width: 120px;
  max-width: 100%;
  background-color: #b41333;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  padding-bottom: 5px;
}

.h2 {
  font-family: Arial, Helvetica, sans-serif;
}
.module:hover {
  background-color: #920f29;
  cursor: pointer;
  color: #ffffff;
  min-width: 120px;
}
.grid-pad {
  padding: 10px 0;
  padding-left: 25px;
  min-width: 120px;

}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.type {
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}

.label .button {
  color: #ffffff;
  font-size: 20px !important;
}

$filterColors: (
  "grass": #78c850,
  "bug": #a8b820,
  "dragon": #7038f8,
  "ice": #69b4b4,
  "fighting": #c03028,
  "fire": #f08030,
  "flying": #a890f0,
  "ghost": #705898,
  "ground": #dfb26a,
  "electric": #f8d030,
  "normal": #a8a878,
  "poison": #a040a0,
  "psychic": #f85888,
  "rock": #b8a038,
  "water": #6890f0,
  "fairy": #ee99ac,
  "steel": #b8b8d0
);

.type-list__item {
  border-width: 0px;
  color: #ffffff;
  padding: 5px 12px 5px 12px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #b41333;

  @each $key, $value in $filterColors {
    &--#{$key} {
      background-color: $value;
    }
  }
}

.type-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: capitalize;
  margin: 5px;
}

.type-list a {
  padding: 0px 0px 0px 0px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  margin: 10px;
}

.flex-container > div {
  color: white;
  width: 100px;
  text-align: center;
  // line-height: 75px;
  font-size: 30px;
}